<div class="container-fluid py-5">
    <div class="container">
        <h2 class="text-center my-5">Keranjang Belanja</h2>

        <div class="table-responsive" id="mycart">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Pesanan</th>
                        <th>Harga</th>
                        <!-- <th>Jumlah</th>
                        <th>Total</th> -->
                        <th>Ubah</th>
                    </tr>
                </thead>
                <tbody>
                    <% mycart.forEach((c, i)=> { i++ %>
                        <tr style="vertical-align: middle;">
                            <td>
                                <a href="image/product/<%= c.pict_product %>" data-lightbox="<%= c.name_product %>"
                                    data-title="<%= c.name_product %>">
                                    <img src="image/product/thumb/<%= c.pict_thumb %>"
                                        class="img-thumbnail d-none d-sm-block" width="150px" alt="">
                                    <label class="d-block d-sm-none" for="">
                                        <%= c.name_product %>
                                    </label>
                                </a>
                            </td>
                            <td>
                                <%= c.name_product %>
                            </td>
                            <td>Rp <%= c.price %>
                            </td>
                            <td id="price_<%= i %>" style="display:none;">
                                <%= c.price %>
                            </td>
                            <!-- <td class="quantity">1</td> -->
                            <!-- <td id="total_<%= i %>">Rp <%= c.price %></td> -->
                            <td>
                                <form action="/delete-cart?_method=DELETE" method="post">
                                    <input type="text" name="id" value="<%= c._id %>" hidden>
                                    <button class="btn btn-danger badge" type="submit"
                                        class="clean-link">delete</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
                            <th colspan="2">Total</th>
                            <th id="overallTotal">Rp 0</th>
                            <tr></tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="checkOut" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Your Detail Order</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <form action="/checkout" method="post">
                        <div class="modal-body">
                            <div class="form-floating mb-3">
                                <!-- <input type="text" name="_id" value="" hidden> -->
                                <% let total = 0 %>
                                <% mycart.forEach((c, i)=> { i++ %>
                                    <div class="row">
                                        <div class="col-6">
                                            <p><%= c.name_product %></p>
                                            <input type="text" name="products[<%= i %>][product_name]" value="<%= c.name_product %>" hidden>
                                        </div>
                                        <div class="col-6">
                                            <p>Rp <%= c.price %></p>
                                            <input type="text" name="products[<%= i %>][price]" value="<%= c.price %>" hidden>
                                        </div>
                                    </div>
                                    <% total += c.price %>
                                <% }) %>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <p>Total</p>
                                    </div>
                                    <div class="col-6">
                                        <p>Rp <%= total %></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        Payment
                                    </div>
                                    <div class="col-6">
                                        <select class="form-select form-select-sm" name="payment" aria-label=".form-select-sm example" required>
                                            <option selected>Select Payment</option>
                                            <option value="COD">Cash On Delivery</option>
                                            <option value="Others">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                
                                <div class="row">
                                    <div class="col-6">
                                        <p>Address</p>
                                    </div>
                                    <div class="col-6">
                                        <input name="address" type="text" class="form-control form-control-sm" value="<%= user.address %>">
                                        <input name="username" value="<%= user.username %>" type="text" hidden>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Checkout</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <button class="btn btn-warning text-light" data-bs-toggle="modal" data-bs-target="#checkOut">Checkout</button>
        <p id="cart-length" style="display:none;">
            <%= mycart.length %>
        </p>
    </div>
</div>

<!-- subscribe -->
<div class="container-fluid py-5 content-subscribe">
    <div class="container">
        <h5 class="text-center text-light mb-4">Temui Kami</h5>
        <div class="row justify-content-center">
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-facebook fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-instagram fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-twitter fs-4 text-white"></i>
            </div>
            <div class="col-sm-1 d-flex justify-content-center mb-2">
                <i class="bi bi-youtube fs-4 text-white"></i>
            </div>
        </div>

        <h5 class="text-center text-light mt-5 mb-0">Subscribe</h5>
        <p class="text-center text-light">Untuk informasi tentang promo</p>
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <form action="/subscribe" method="post">
                <div class="input-group mb-3">
                    <input name="subscribtion" type="text" class="form-control" placeholder="ketikkan email"
                        aria-label="Recipient's username" aria-describedby="button-addon2" autocomplete="off">
                    <input name="username" value="<%= user.username %>" type="text" class="form-control"
                        autocomplete="off" hidden>
                    <button class="btn btn-warning text-light" type="submit" id="button-addon2">Button</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js"></script>
<!-- lightbox -->
<script src="dist/js/lightbox-plus-jquery.min.js"></script>
<script type="text/javascript">
    const cartLength = parseInt(document.getElementById('cart-length').innerHTML);
    const overallTotal = document.getElementById('overallTotal');
    let countTotal = 0;
    for (let i = 1; i <= cartLength; i++) {
        const idPrice = `price_${i}`;
        const price = parseInt(document.getElementById(idPrice).innerHTML);
        countTotal += price;
    }

    overallTotal.innerHTML = `Rp ${countTotal}`;
</script>