<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-5 mt-5">
                <div class="card border">
                    <div class="card-body">
                        <img src="/image/avatar/taylor.jpg" class="rounded-circle mx-auto d-block mt-4"
                            style="width: 30%;" />
                        <!-- this should be name actually -->
                        <h4 class="text-center my-4"><%= user.username %></h4>
                        <div class="justify-content-center">
                            <div class="row offset-1 mb-3">
                                <div class="col-4 fw-bold">Email</div>
                                <div class="col-6"><%= user.email %></div>
                            </div>
                            <div class="row offset-1 mb-3">
                                <div class="col-4 fw-bold">No Hp</div>
                                <div class="col-6"><%= user.nohp %></div>
                            </div>
                            <div class="row offset-1 mb-3">
                                <div class="col-4 fw-bold">Password</div>
                                <div class="col-6"><%= user.password %></div>
                            </div>
                            <div class="row offset-1 mb-3">
                                <div class="col-4 fw-bold">Address</div>
                                <div class="col-6"><%= user.address %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5 mt-5">
                <div class="card border">
                    <div class="card-body">
                        <h4>Order Status</h4>
                        <hr>
                        <!-- Order Series -->
                        <p>Order Series</p>
                        <h6>#<%= checkout._id %></h6>
                        <hr>
                        <!-- Order Status -->
                        <p>your order is</p>
                        <h3 class="fw-bold"><%= checkout.status %></h3>
                        <p class="fw-bold">as on 2 Nov 2023, Thursday</p>
                        <p>Have you received your food ? </p>
                        <div class="mb-4">
                            <a type="button" class="btn rounded-pill custom_red-btn_outline">No</a>
                            <a type="button" class="btn rounded-pill custom_red-btn text-white">Yes</a>
                        </div>
                        <hr>
                        <!-- Feedback -->
                        <p class="m-0">How was your delivery food experience ?</p>
                        <div class="row mt-2">
                            <div class="col-2 text-center">
                                <div>
                                    <i class="bi bi-emoji-dizzy larger-icon"></i>
                                </div>
                                <div>
                                    <p>Bad</p>
                                </div>
                            </div>
                            <div class="col-2 text-center">
                                <div>
                                    <i class="col-1 bi bi-emoji-frown larger-icon"></i>
                                </div>
                                <div>
                                    <p>Ok</p>
                                </div>
                            </div>
                            <div class="col-2 text-center">
                                <div>
                                    <i class="col-1 bi bi-emoji-expressionless larger-icon"></i>
                                </div>
                                <div>
                                    <p>Avg</p>
                                </div>
                            </div>
                            <div class="col-2 text-center">
                                <div>
                                    <i class="col-1 bi bi-emoji-smile larger-icon"></i>
                                </div>
                                <div>
                                    <p>Good</p>
                                </div>
                            </div>
                            <div class="col-2 text-center">
                                <div>
                                    <i class="col-1 bi bi-emoji-laughing larger-icon"></i>
                                </div>
                                <div>
                                    <p>Best</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Tracking History -->
                        <h6>Tracking History</h6>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-5">
                <div class="card border-0">
                        <ul class="list-group">
                            <a href="" type="button" class="list-profile" id="editProfile"><li class="list-group-item">Edit Profile</li></a>
                            <a href="" type="button" class="list-profile"><li class="list-group-item">Order Status</li></a>
                            <a href="" type="button" class="list-profile"><li class="list-group-item">Reservation</li></a>
                            <a href="" type="button" class="list-profile"><li class="list-group-item">Order History</li></a>
                            <a href="" type="button" class="list-profile"><li class="list-group-item">Favorite</li></a>
                            <a href="/logout" type="button" class="list-profile" id="logOut"><li class="list-group-item">Log Out</li></a>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <img src="/image/product/brownies.jpg" alt=""> -->